<div class="footer-main-div flex_footer">
    <div class="footer-social-icons">
        <ul>
            <li><a href="https://www.youtube.com/channel/UC5EYmOjErzAfH8RlAWN7qBA?view_as=subscriber"><i class="fa fa-youtube-play"></i></a></li>
        <li><a href="http://github.com/plutoshe"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/plutoshe"><i class="fa fa-twitter"></i></a></li>      
        <li><a href="https://www.linkedin.com/in/pluto-she-80982683/" style="margin-right:1px"><i class="fa fa-linkedin"></i></a></li>
    </ul>
      
      
    </div>
    
    <!-- <div class="footer-menu-one">
        <ul> 
            <li><a class="menu_item" href="/portfolio">Portfolio</a></li> 
            <li><a class="menu_item" href="/about">About</a></li> 
        </ul> 
    </div> -->
    <div class="footer-bottom">
        <p>Copyright © 2019 <a href="/">Pluto She</a>. All Rights Reserved.</p>
    </div>
</div>