
<div id="mySidenav" class="sidenav">
    <nav id="navigation"> 
        <h2>Menu</h2> 
        <ul> 
            <li><a href="/portfolio/">Portfolio</a></li> 
            <li><a href="/about/">About</a></li> 
        </ul> 
    </nav> 
</div>