
<div id="mySidenav" class="sidenav">
    <nav id="navigation"> 
        <h2>Menu</h2> 
        <ul> 
            <li><a class="menu_item" href="/portfolio">Portfolio</a></li> 
            <li><a class="menu_item" href="/about">About</a></li> 
        </ul> 
        <div class="container" style="position: fixed;margin-top:20px">
    	<h4>Keep in Touch</h4>
    	<div style="margin-top:5px;margin-bottom:5px">
	        <a class="share_icon" href="http://github.com/plutoshe" style="margin-left:6px;margin-right:1px"><i class="fa fa-github"></i></a>
	        <a class="share_icon" href="https://twitter.com/plutoshe" style="margin-right:0px"><i class="fa fa-twitter"></i></a>

	        <a class="share_icon" href="https://www.youtube.com/channel/UC5EYmOjErzAfH8RlAWN7qBA?view_as=subscriber"><i class="fa fa-youtube-play"></i></a>
        </div>

    	<h4>@plutoshe</h4>
        
    </div>
    </nav> 

    
</div>
<div id="overlay"></div>