<header class="bar-header"> 
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" display="none" version="1.1">
        <defs>
            <symbol id="icon-menu" viewBox="0 0 1024 1024">
                <path class="path1" d="M128 213.333h768q17.667 0 30.167 12.5t12.5 30.167-12.5 30.167-30.167 12.5h-768q-17.667 0-30.167-12.5t-12.5-30.167 12.5-30.167 30.167-12.5zM128 725.333h768q17.667 0 30.167 12.5t12.5 30.167-12.5 30.167-30.167 12.5h-768q-17.667 0-30.167-12.5t-12.5-30.167 12.5-30.167 30.167-12.5zM128 469.333h768q17.667 0 30.167 12.5t12.5 30.167-12.5 30.167-30.167 12.5h-768q-17.667 0-30.167-12.5t-12.5-30.167 12.5-30.167 30.167-12.5z">
                </path>
            </symbol>
            <symbol id="icon-search" viewBox="0 0 951 1024">
                <path class="path1" d="M658.286 475.429q0-105.714-75.143-180.857t-180.857-75.143-180.857 75.143-75.143 180.857 75.143 180.857 180.857 75.143 180.857-75.143 75.143-180.857zM950.857 950.857q0 29.714-21.714 51.429t-51.429 21.714q-30.857 0-51.429-21.714l-196-195.429q-102.286 70.857-228 70.857-81.714 0-156.286-31.714t-128.571-85.714-85.714-128.571-31.714-156.286 31.714-156.286 85.714-128.571 128.571-85.714 156.286-31.714 156.286 31.714 128.571 85.714 85.714 128.571 31.714 156.286q0 125.714-70.857 228l196 196q21.143 21.143 21.143 51.429z">
                </path>
            </symbol> 
        </defs>
    </svg>
        
    <a id="menu"> 
        <svg id="open" class="icon-menu">
            <use xlink:href="#icon-menu"></use>
        </svg> 
    </a> 
    <!-- <a id="search" class="dosearch"> 
        <svg class="icon-search">
            <use xlink:href="#icon-search"></use>
        </svg> 
    </a> -->
    <h1 class="logo"> <a href="/"> PlutoShe </a> </h1>
</header>