body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
}

a {
    text-decoration: none !important;
}

#main {
    background: #202020;  
}

.has_menu {
    transition: .5s;
}

#main > .row {
    padding-top: 5rem;
    background: #202020;
}
#main > .blog {
    padding-top: 3rem;
    background: #fff;
}

#main > #about {
    padding-top: 3rem;
    background: #202020;
}

#overlay.show {
    pointer-events: auto;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}
#main > .row {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin: 0 10px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.6);
    z-index: 17;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

/* Add padding BETWEEN each column */

.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    
    /*display: none;  Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column .content img {
    
    width: 100%;
    /*height: 30vh;*/
    margin: 0 auto;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.column .content h4,p {
    color: #fff;
}

/* Content */
.content {
    padding: 10px;
}


.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }