<!DOCTYPE html>
<html>
<head>
    <% include deps/header.ejs %>
</head>
<body>
    <% include deps/includeJs.ejs %>
    <% include modules/menu.ejs %>
    <div id="overlay" class=""></div>
    <div id="main">
        <% include modules/pageHeader.ejs %>
        
        <h1>About</h1>
    </div>
</body>
</html>