<!DOCTYPE html>
<html>
<head>
    <% include deps/header.ejs %>
</head>
<body>
    <% include deps/includeJs.ejs %>
    <% include modules/menu.ejs %>
    <div id="overlay" class=""></div>
    <div id="main" class="has_menu">
        <% include modules/pageHeader.ejs %>
        <div id="about">
            <h1>About</h1>
        </div>
    </div>
</body>
</html>