<!DOCTYPE html>
<html>
<head>
    <% include deps/header.ejs %>
    <%- additional_css %>
</head>
<body class="page_body">
    <% include deps/includeJs.ejs %>
    <% include modules/menu.ejs %>
    <div id="main" class="has_menu flex_container">
        <% include modules/pageHeader.ejs %>
        <div class = "blog flex_body">
            <div class = "blog_body">
                <%- content %>
            </div>
        </div>
        <% include modules/footer.ejs %>
    </div>
</body>
</html>
