<!DOCTYPE html>
<html>
<head>
    <% include deps/header.ejs %>
    <%- additional_css %>
</head>
<body>
    <% include deps/includeJs.ejs %>
    <% include modules/menu.ejs %>
    <div id="main" class="has_menu">
        <% include modules/pageHeader.ejs %>
        <div class = "blog">
            <div class = "blog_body">
                <%- blog_content %>
            </div>
        </div>
    </div>
    
</body>
</html> 