<!DOCTYPE html>
<html>

<header>
<% include deps/header.ejs %>
</header>
<body>
<% include deps/includeJs.ejs %>

<!--<aside id="sidebar" class="open"> -->
<% include modules/menu.ejs %>

<div id="main" class="has_menu">
    <% include modules/pageHeader.ejs %>
    <div class="row" id="portfolio">
        <% for (var i = 0; i < bloglist.length; i++) { %>
          <div class="column cars">
            <a href="<%- bloglist[i].url%>" >
              <div class="content">
              <img src="<%- bloglist[i].img_path %>" alt="Car" style="width:100%">
                <h4><%- bloglist[i].title %></h4>
                <p><%- bloglist[i].intro %></p>
              </div>
            </a>
          </div>
        <% } %>
    </div>
     
    <!-- END GRID -->
    
</div>    
  </div>     
</body>
</html>
