<!DOCTYPE html>
<html>

<header>
<% include deps/header.ejs %>
</header>
<body>
<% include deps/includeJs.ejs %>

<!--<aside id="sidebar" class="open"> -->
<% include modules/menu.ejs %>

<div id="main" class="has_menu">
    <% include modules/pageHeader.ejs %>
    <div class="row">
            <div class="column nature">
              <div class="content">
                <img src="/assets/img/10.jpg" alt="Mountains" style="width:100%">
                <h4>Mountains</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
            <div class="column nature">
              <div class="content">
              <img src="/assets/img/2.jpg" alt="Lights" style="width:100%">
                <h4>Lights</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
            <div class="column nature">
              <div class="content">
              <img src="/assets/img/11.jpg" alt="Nature" style="width:100%">
                <h4>Forest</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
            
            <div class="column cars">
              <div class="content">
                <img src="/assets/img/4.jpg" alt="Car" style="width:100%">
                <h4>Retro</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
            <div class="column cars">
              <div class="content">
              <img src="/assets/img/5.jpg" alt="Car" style="width:100%">
                <h4>Fast</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
            <div class="column cars">
              <div class="content">
              <img src="/assets/img/6.jpg" alt="Car" style="width:100%">
                <h4>Classic</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
          
            <div class="column people">
              <div class="content">
                <img src="/assets/img/7.jpg" alt="Car" style="width:100%">
                <h4>Girl</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
            <div class="column people">
              <div class="content">
              <img src="/assets/img/8.jpg" alt="Car" style="width:100%">
                <h4>Man</h4>
                <p>Lorem ipsum dolor..</p>
              </div>
            </div>
           
          <!-- END GRID -->
          
    </div>    
  </div>     
</body>
</html>
