<!DOCTYPE html>
<html>

<header>
<% include deps/header.ejs %>
</header>
<body>
<% include deps/includeJs.ejs %>

<!--<aside id="sidebar" class="open"> -->
<% include modules/menu.ejs %>

<div id="main" class="has_menu">
    <% include modules/pageHeader.ejs %>
    <div class="row">
        <%- blogs_in_grid %>
    </div>
     
    <!-- END GRID -->
    
</div>    
  </div>     
</body>
</html>
